body {
background: #e6e7e6;
}

.semiBackgorund {
    background-color: #FFFAF0;
    width: 1450px;
    height: 600px;
    position: absolute;
    top: 250px;
    z-index: -2;
}

.headlines {

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    /* padding: 15px 50px; */
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    background-color: #5f91ec;
    /* width: 1400px; */
    /* height: 130px; */
    /* border-style: outset;
    position: absolute;
    width: 90%;
    font-size: 20px;
    left: 3%; */

}

.info {
    /* text-indent: 50px; */
    text-align: justify;
    padding-left: 20px;
    padding-top: 100px;
    letter-spacing: 3px;
    z-index: 1;

}


.time {
    padding-left: 20px;
    padding-top: 50px;
    /* text-indent: 50px; */
    text-align: justify;
    letter-spacing: 3px;
    z-index: 1;
}

.checklist {
    padding: 5px;
    border-radius: 10px;
    padding-left: 50px;
    z-index: -1;

}

.testButton {
    background-color: #5f91ec;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tiltPhone {
    padding-left: 35px;
    padding-top: 50px;
    z-index: 1;

}

.tiltPhoneText {
    padding-left: 20px;
    padding-top: 10px;
    /* text-indent: 50px; */
    text-align: justify;
    letter-spacing: 3px;
    z-index: 1;
}

.phishImgInner {
    position: absolute;
    top: 65%;
    left: 60%;
    z-index: 1;
}



.footer{
    padding-bottom: 10px;
    width:90%;
    height:15px;
}
