/* @import url("buttons.css"); */

body {
  background-color: #5f91ec;
}



/* .options {
  text-align: center;
} */

.test {
  position: absolute absolute;
  margin: auto;
  margin-top: -3%;
  width: 1000px;
  height: 800px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: white;

  line-height:2;
  text-align: center;
  /* text-align: justify; */

  background: orange;
  float: left;
}

.senderInfo {
    color: #b3b3b3;
    margin: auto;
    padding: 10px;
}

.name {
  color: black;
  margin-left: 1%;
}

.time {
  float: right;
  margin-left: 80%;
}

.hello {
    font-size: 24px;
    color: #DAA520;
}

.payment {
    font-size: 24px;
    color: #DAA520;
}

.order {
    font-size: 28px;
    padding-left: 340px;
}

.orderNr {
    padding-left: 350px;
}

.orderNr2 {
    padding-left: 20px;
    padding-top: 8px;
}

/* far goras en for varje mejl: .mailContent1, mailContent2 osv.. */
.mailContent {
  /* padding: 100px; */
  color: black;
  float:left;
  margin-left: 1.1%;
  display: block;

  padding-left: 20px;

  position: absolute absolute;
  width: 970px;
  height: 700px;
  background-color: #f2f2f2;
  /* border-radius: 1%; */

}

.borderUnderText {
    border-bottom: 2px solid;
    padding-top: 10px;
    width: 580px;
    color: black;
}

.borderUnderText2 {
    border-bottom: 1px solid;
    padding-top: 10px;
    width: 580px;
    color: #DCDCDC;
}

.borderUnderText3 {
    border-bottom: 1px solid;
    padding-top: 14px;
    width: 580px;
    color: #DCDCDC;
}

.estimatedDelivery {
    color: 	#C0C0C0;
    padding-left: 20px;
    padding-top: 8px;
}

.delivery {
    font-weight: bold;
    color: 	black;
    padding-left: 20px;
}

.boxClick {
    background-color: #ffe033;
    color: black;
    font-weight: bold;
    padding: 10px 18px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
}

.moveBox {
    padding-left: 450px;
}

.orderD1 {
    padding-left: 400px;
}

.orderD2 {
    padding-left: 400px;
    padding-top: 8px;
    font-weight: bold;
}
.amazon_logo {
    padding-left: 15px;
}

.endAmazon {
    font-size: 18px;
    font-weight: bold;
}

.borderUnderImage {
    border-bottom: 1px solid;
    padding-top: 10px;
    width: 580px;
    color: #DCDCDC;
}

.ref {
  color: #b3b3b3;
}
.refContent {
  margin-left: 1%;
  color: black;
}

/* ******************************** */


.dropdown {
  display: inline-block;
  position: relative;
  float:left;
  margin-left: 1%;
}

.dropbtn {
  display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 7px 7px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;

}

.dropbtn:after {
  content: '';
  position: absolute;
  right: 5%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  /* position: absolute; */
  position: fixed;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
  border-style: solid;
  border-width: thin;
}

.dropdown-content a {
  color: black;
  padding: 4px 50px;
  text-decoration: none;
  /* text-align: justify; */
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
