/* @import url("buttons.css"); */

body {
  background-color: #5f91ec;
  padding: 5px;
  border-radius: 10px;
}


/* .options {
  text-align: center;
} */

.test {
  position: absolute absolute;
  margin: auto;
  margin-top: -3%;
  width: 1000px;
  height: 440px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: white;

  line-height:2;
  text-align: center;
  /* text-align: justify; */

  background: #cc98e6;
  float: left;
}

.senderInfo {
    color: #b3b3b3;
    margin: auto;
    padding: 10px;
}

.name {
  color: black;
  margin-left: 1%;
}

.time {
  float: right;
  margin-left: 80%;
}

.image_netflix{
    padding-left: 400px;
}

/* far goras en for varje mejl: .mailContent1, mailContent2 osv.. */
.mailContent2 {
  /* padding: 100px; */
    color: black;
    float:left;
    margin-left: 1.9%;
  /* margin-top: 5.5%; */
    display: block;

    padding-left: 250px;

    position: absolute absolute;
    width: 950px;
    height: 310px;
    background-color: #f2f2f2;
  /* border-radius: 1%; */
}

.borderUnderLink {
    border-bottom: 1px solid gray;
    padding-top: 10px;
    width: 330px;

}

.boxClick {
    background-color: #1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.ref {
  color: #b3b3b3;
}
.refContent {
  margin-left: 1%;
  color: black;
}

/* ******************************** */


.dropdown {
  display: inline-block;
  position: relative;
  float:left;
  margin-left: 1%;
}

.dropbtn {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 7px 7px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;

}

.dropbtn:after {
  content: '';
  position: absolute;
  right: 5%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  /* position: absolute; */
  position: fixed;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
  border-style: solid;
  border-width: thin;
}

.dropdown-content a {
  color: black;
  padding: 4px 50px;
  text-decoration: none;
  /* text-align: justify; */
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
